{:deps {org.clojure/clojure {:mvn/version "1.10.0"}
        babashka/fs {:mvn/version "0.0.1"}}
 :aliases {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                          slipset/deps-deploy {:mvn/version "0.2.1"}}
                   :ns-default build}}}
